<div class="card">
  <div class="card-body">
    <h5 class="card-title">title:{{title}}</h5>
    <p class="card-text">bookAuthor:{{bookAuthor}}</p>
    <p class="card-text">bookCategory:{{bookCategory}}</p>
    <p class="card-text">bookPages:{{bookPages}}</p>
    <div class="d-flex justify-content-between">
       <a href="getBook/{{id}}" class="btn btn-primary">show</a>
       <a href="updateBook/{{id}}" class="btn btn-primary">updateBook</a>
       <a href="deleteBook/{{id}}" class="btn btn-primary">delete</a>
    </div>
   
  </div>
</div>